In [ ]:
https://docs.google.com/spreadsheets/d/1Ps6OqL1cLdCiD30VJTkDhSWKNYW2I7Uqhg1viCBvFXQ/edit

In [16]:
import pandas as pd

SHEET_ID = '1Ps6OqL1cLdCiD30VJTkDhSWKNYW2I7Uqhg1viCBvFXQ'
SHEET_NAME = 'test'
foglio_id=0

url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}/edit#gid={foglio_id}'
df = pd.read_csv(url,dtype={'Collo':str,'customer PO':str})
df

,Rif. Sped.,SKU,Collo,Codice,Colore,Size,UPC,Made in,Unità,Confezione,customer PO,Import Date
0,310715448,BV1358-001,00008865511394193346,BV1358,1,10,192501310273,CN,6,NaN,ciao,06-03-2024 18:16:26
1,310715448,BV1358-001,00008865511394193353,BV1358,1,10,192501310273,CN,4,NaN,pippo,06-03-2024 18:16:26
2,310715448,BV1358-001,00008865511394193353,BV1358,1,10,192501310273,CN,2,NaN,45108,06-03-2024 18:16:26
3,310715448,BV1358-001,00008865511394193360,BV1358,1,10,192501310273,CN,2,NaN,45108,06-03-2024 18:16:26
4,310715448,BV1358-001,00008865511394193360,BV1358,1,10,192501310273,CN,4,NaN,45108,06-03-2024 18:16:26
...,...,...,...,...,...,...,...,...,...,...,...,...
194,426120159,FB7368-323,00000912041077037526,FB7368,323,S,196607393109,CN,2,2.0,45139,06-03-2024 18:16:26
195,426120159,FB7368-323,00000912041077037533,FB7368,323,XS,196607393093,CN,1,1.0,45139,06-03-2024 18:16:26
196,426120159,FB7368-323,00000912041077037533,FB7368,323,M,196607393116,CN,1,1.0,45139,06-03-2024 18:16:26
197,426120159,FD0737-063,00000912041077037540,FD0737,63,XL,196607424636,KH,6,6.0,45139,06-03-2024 18:16:26
198,507590480,DB0456-010,00008869154416083780,DB0456,10,MISC,195237317127,ID,3,NaN,45108,06-03-2024 18:16:26

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rif. Sped.   199 non-null    int64
 1   SKU          199 non-null    object
 2   Collo        199 non-null    object
 3   Codice       199 non-null    object
 4   Colore       199 non-null    int64
 5   Size         199 non-null    object
 6   UPC          199 non-null    int64
 7   Made in      199 non-null    object
 8   Unità        199 non-null    int64
 9   Confezione   127 non-null    float64
 10  customer PO  196 non-null    float64
 11  Import Date  199 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 18.8+ KB

In [10]:
df.columns

Index(['Rif. Sped.', 'SKU', 'Collo', 'Codice', 'Colore', 'Size', 'UPC',
       'Made in', 'Unità', 'Confezione', 'customer PO', 'Import Date'],
      dtype='object')

In [6]:
df['customer PO'].value_counts()

45108    174
45139     22
Name: customer PO, dtype: int64

In [6]:
barcode = '00000912041077037281'
df[df['Collo']==barcode]

,Rif. Sped.,SKU,Collo,Codice,Colore,Size,UPC,Made in,Unità,Confezione,customer PO,Import Date
93,426120159,DX1355-051,00000912041077037281,DX1355,51,M,196607386958,PK,7,7.0,NaN,06-03-2024 18:16:26
94,426120159,FD1286-010,00000912041077037281,FD1286,10,XS,196606963358,PK,1,1.0,45108.0,06-03-2024 18:16:26
95,426120159,FD1286-010,00000912041077037281,FD1286,10,S,196606963365,PK,2,2.0,45108.0,06-03-2024 18:16:26
96,426120159,FD1286-010,00000912041077037281,FD1286,10,M,196606963372,PK,2,2.0,45108.0,06-03-2024 18:16:26
97,426120159,FD1286-010,00000912041077037281,FD1286,10,L,196606963389,PK,2,2.0,45108.0,06-03-2024 18:16:26
98,426120159,FD1286-010,00000912041077037281,FD1286,10,XL,196606963396,PK,1,1.0,45108.0,06-03-2024 18:16:26